
<div class="header">
	<span>
		<i class="fa fa-signal" aria-hidden="true"></i>
		Mobile
	</span>

	<span>
		Music
	</span>

	<span>
		Wifi on
		<i class="fa fa-wifi" aria-hidden="true"></i>
	</span>
</div>

<div class="top">

	<div class="entry left deactivated">
		<div class="icon wind">
			<img src="images/wind.png" />
			<span> Deactivated </span>
		</div>
	</div>

	<div class="entry">
		<label>Ext. Temp</label>
		<span>29ºC</span>
	</div>

	<div class="entry">
		<label>Altitude</label>
		<span>1000ft</span>
	</div>

	<div class="entry">
		<label>Heading</label>
		<span>045ºNE</span>
	</div>

	<div class="entry">
		<label>Batery</label>
		<span>12v</span>
	</div>

	<div class="clear"></div>
</div>

<div class="bottom">

	<div class="entry">
		<div class="icon oil">
			<img src="images/oil.png" />
		</div>
		<div class="data">
			<label>Oil pressure</label>
			<span>6.4 Bar</span>
		</div>
		<div class="clear"></div>
		<div class="progress">
			<div class="bar" style="width: 30%"></div>
		</div>
	</div>

	<div class="entry">
		<div class="icon water">
			<img src="images/water.png" />
		</div>
		<div class="data">
			<label>Water temp.</label>
			<span>89ºC</span>
		</div>
		<div class="clear"></div>
		<div class="progress">
			<div class="bar" style="width: 30%"></div>
		</div>
	</div>

	<div class="entry">
		<div class="icon fuel">
			<img src="images/fuel.png" />
		</div>
		<div class="data">
			<label>Oil pressure</label>
			<span>6.4 Bar</span>
		</div>
		<div class="clear"></div>
		<div class="progress">
			<div class="bar" style="width: 30%"></div>
		</div>
	</div>

	<div class="clear"></div>
</div>

<!--<md-icon>signal_cellular_4_bar</md-icon>-->
<div class="background">
	<img class="car" src="images/e36-wireframe.svg"/>
</div>
