
<div class="header">
	<span>
		<i class="fa fa-signal" aria-hidden="true"></i>
		Mobile
	</span>

	<span>
		Music
	</span>

	<span>
		Wifi on
		<i class="fa fa-wifi" aria-hidden="true"></i>
	</span>
</div>

<div class="top">

	<div class="entry">
		<label>Range</label>
		<span>200 KM</span>
	</div>

	<div class="entry">
		<label>Consum.</label>
		<span>200 KM</span>
	</div>

	<div class="entry">
		<label>Heading</label>
		<span>045ºNE</span>
	</div>

	<div class="entry">
		<label>Altitude</label>
		<span>1000ft</span>
	</div>

	<div class="entry">
		<label>Ext. Temp</label>
		<span>29ºC</span>
	</div>

	<div class="hour">
		<label>01:30</label>
	</div>

</div>

<!--<md-icon>signal_cellular_4_bar</md-icon>-->
<div class="background">
	<img class="car" src="images/e36-wireframe.svg"/>
</div>
